.container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 25% 1fr 30% 1fr;
    grid-template-rows: 1fr 40vh;
    padding: 20px;
    grid-template-areas: 
    'a b c d'
    'e f f f';
}

.box1{
    grid-area: a;
    display: flex;
}

.box2{
    grid-area: b;
}

.box3{
    grid-area: c;
}

.box4{
    grid-area: d;
}

.box5{
    grid-area: e;
}

.box6{
    grid-area: f;
}

/*.box6{
    grid-area: e;
    grid-column: span 3;
}*/