.item {
    color: #0E76BB;
}
  
  /* Increase the specificity */
.item.Mui-selected:hover {
    color: #0E76BB;
}

.appbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons{
    background: white;
}

.input{
    display: flex;
    align-items: center;
}

.radio-group{
    display: flex;
    align-items: center;
}

.radio-label{
    position: absolute;
    font-size: 12px;
    top: 5px;
    padding: 0 5px;
    margin-left: 20px;
    color: #666666;
    background-color: white;
    z-index: 1;
}

.logo{
    transition: .2s;
}

.logo:hover{
    transform: scale(1.05);
    cursor: pointer;
}